
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    color: red;
    /* font-size: 25px; */
    font-family: "Playfair Display", serif;
    font-weight: bold;
    font-style: italic;
}

.container {
    min-height: 1500px;
    position: relative;
    background-color: black;
    padding-bottom: 300px;
}

.content {
    padding: 20px 20px 0px;
}

.margins .horizontal {
    position: absolute;
    height: 100%;
    border-left: 1px solid red;
}

.margins .horizontal.left {
    left: 20px;
}

.margins .horizontal.right {
    right: 20px;
}

.margins .vertical {
    position: absolute;
    width: 100%;
    border-top: 1px solid red;
}

.margins .vertical.top {
    top: 100px;
}

.margins .vertical.bottom {
    bottom: 300px;
}

.nav-bar {
    display: flex;
    height: 80px;
    justify-content: space-between;
    align-items: flex-end;
    /* border: 2px solid green; */
    font-size: 25px;
}
.nav-bar .logo {
    /* border: 2px solid white; */
    height: 100%;
}
.nav-bar .logo img {
    height: 80px;
    width: 100px;
}

.nav-bar .nav-items {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    /* border: 2px solid white; */
    height: 100%;
}

.nav-bar .nav-items .item {
    width: 150px;
    /* border: 2px solid white; */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.nav-bar .nav-items .item.contact-me {
    width: 300px;
    background-color: red;
    height: 100%;
}
.nav-bar .nav-items .item.contact-me a {
    border-bottom: 0px;
    color: black;
}
.nav-bar .nav-items .item.contact-me a:hover {
    border-bottom: 0px;
}
.nav-bar .nav-items .item a {
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    border-bottom: 5px solid black;
}

.nav-bar .nav-items .item a:hover {
    border-bottom: 5px solid red;
}
.nav-bar .hamburger {
    display: none;
}
a {
    text-decoration: none;
}


.introduction {
    max-height: 800px;
    /* border: 2px solid white; */
    display: flex;
    /* padding-top: 10px; */
    border-bottom: 1px solid red;
}

.introduction .my-roles {
    width: 60%;
    display: flex;
    /* border: 10px solid white; */
    padding: 40px 0px 50px;

}
.introduction .my-roles img {
    height: 100%;
    width: 100%;
}
.introduction .description {
    width: 40%;
    padding: 0px 3%;
    line-height: 2.2rem;
    word-spacing: 0.15rem;
    letter-spacing: 0.1rem;
    font-size: 25px;
    /* border: 2px solid white; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.introduction .description div:nth-child(1){
    padding: 5% 0px;
    border-top: 1px solid red;
    border-bottom: 1px solid red;
    text-align: justify;
}

.content .empty-area {
    height: 50px;
/*     border-top: 1px solid red;
    border-bottom: 1px solid red; */
}

.content .achivements {
    position: relative;
    overflow: hidden;
}

.content .achivements > h2 {
    padding: 40px 0px 20px;
    border-left: 2px solid red;
    border-bottom: 1px solid red;
    border-bottom-left-radius: 20px;
}
.content .achivements .slideshow {
    height: 700px;
    border-bottom: 1px solid red;
    overflow-x: scroll;
}
.content .achivements .slideshow::-webkit-scrollbar {
    width: 20px;
}
.content .achivements .slideshow .slides {
    --t: 20s;
    height: 100%;
    width: 1800px;
    display: flex;
    align-items: center;
}

.content .achivements .slideshow .slides div {
    /* background-color: red; */
    width: 600px;
    margin-right: 30px;
    height: 80%;
    transition: 1s;
    display: flex;
    align-items: center;
}

.content .achivements .slideshow .slides div img {
    max-height: 100%;
    max-width: 100%;
}


.content .personal-projects > h2 {
    padding: 40px 0px 20px;
    border-left: 2px solid red;
    border-bottom: 1px solid red;
    border-bottom-left-radius: 20px;
    
}
.content .personal-projects .project {
    font-size: 2rem;
    padding: 50px 0px;
    border-bottom: 1px solid red;
}

.content .contact-section {
    height: 800px;
    /* border: 2px solid white; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content .contact-section h2 {
    width: 100%;
    height: 300px;
    /* border: 2px solid white; */
    /* text-align: center; */
    overflow: scroll;
    text-align: center;
}
.content .contact-section h2 span {
    display: inline-block; /* Display as inline-block to fit the width */
    line-height: 300px;
    font-size: 30px;
}
.content .contact-section p {
    padding: 30px 100px;
    /* border-radius: 50%;
    border: 1px solid red; */
    text-transform: capitalize;
}
.content .contact-section a {
    display: inline-block;
    padding: 25px 80px;
    background-color: red;
    color: black;
    border: 1px solid green;
    font-size: large;
}

.content .contact-section a:hover {
    background-color: white;
    color: black;
}




    

@media only screen and (max-width: 1200px) {
    * {
        font-size: 16px;
    }
    .introduction {
        flex-direction: column;
        /* border: 2px solid white; */
        border: 0px;
    }
    .introduction .my-roles {
        /* border: 2px solid white; */
        width: 100%;
    }
    .introduction .description {
        width: 100%;
        /* text-align: center; */
    }
    .nav-bar .nav-items  {
        display: none;
    }
    .nav-bar .nav-items .item.contact-me {
        display: block;
    }
    .content .achivements .slideshow {
        height: 400px;
    }
    .content .achivements .slideshow div {
        width: 400px;
    }
    .introduction .description {
        line-height: 1.3rem;
        word-spacing: 0px;
        letter-spacing: 0.1rem;
        font-size: 25px;
    }
    .content .achivements .slideshow .slides div {

        width: 350px;
        overflow: scroll;
    }
    .nav-bar .nav-items .item.contact-me {
        display: block;
    }
  }


